.messageItem{
  background: white;
  width: fit-content;
  margin: 10px;
  border-radius: 8px;
  font-family: 'Abhaya Libre', serif;
  font-size: 15px;
  line-height: 22px;
  padding: 10px 35px 10px 35px;

}
