.nav {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: gainsboro;
  height: 50%;
  padding: 9.5% 0;
}

.navItem {
  margin-bottom: 15px;
  width: 100%;
  min-height: 40px;

}

.item {
  color: black;
  font-family: 'Avenir Next', serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 25px;
  padding: 5px 15px 5px 80px;
}


.active {
  color: black;
  background: white;
  width: 200px;
  height: 200px;
  border-radius: 0 15px 15px 0;

}